.btn {
  display: inline-block;
  max-width: 100%;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  border-radius: 3px;
  font-family: "Panton Bold";
  font-size: .875em;
  color: #fff;
  @include button-states($orange);
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 0 1em;

  @media(max-width: 479px) {
    min-width: 0;
    width: 100%;
  }
}
