<div class="room" id="day4">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p class="talk">Abertura</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:00</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <!-- <p class="talk">Keynote: Python Não Usual: Pilotando um Navio da Petrobras</p>
    <p class="speaker">Por Rafael Gonçalves</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>10:50</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:20</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:10</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>13:10 - 13:45</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <!-- <p class="talk">Experiência no Ensino de Programação com Python</p>
    <p class="speaker">Por Givanaldo Rocha de Souza</p> -->

    <p><span class="track track-web">#web</span></p>
    <!-- <p class="talk">Matando um Monolítico Django: de Pluggable Apps aos Microservices</p>
    <p class="speaker">Por Bernardo Fontes</p> -->

    <p><span class="track track-pydata">#pydata</span></p>
    <!-- <p class="talk">Computação Científica com Python</p>
    <p class="speaker">Por Alexandre Siqueira</p> -->

    <p><span class="track track-beginners">#iniciantes</span></p>
    <!-- <p class="talk">Tkinter para embarcados</p>
    <p class="speaker">Por Pedro Henrique Cruz</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>13:50 - 14:25</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <!-- <p class="talk">Anubis - Python na documentação da Câmara Municipal de São Paulo</p>
    <p class="speaker">Por Ugo de Lima Pozo e Fernando Gasparotto</p> -->

    <p><span class="track track-web">#web</span></p>
    <!-- <p class="talk">Metaprogramação em Python: metaclass e decorators</p>
    <p class="speaker">Por Felipe Volpone</p> -->

    <p><span class="track track-pydata">#pydata</span></p>
    <!-- <p class="talk">PySpark - Produtividade e poder de processamento</p>
    <p class="speaker">Por Felipe Cruz</p> -->

    <p><span class="track track-beginners">#iniciantes</span></p>
    <!-- <p class="talk">Desenvolvimento mobile com Python</p>
    <p class="speaker">Por Aron Bordin</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>14:30 - 15:05</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <!-- <p class="talk">Um Pedreiro Pythonista.</p>
    <p class="speaker">Por Hugo Leonardo Costa e Silva</p> -->

    <p><span class="track track-web">#web</span></p>
    <!-- <p class="talk">Django REST Framework in-depth</p>
    <p class="speaker">Por Michael Cetrulo</p> -->

    <p><span class="track track-pydata">#pydata</span></p>
    <!-- <p class="talk">BeavOps : Como o Python ajudou a integrar o mundo DevOps - Um Case de Sucesso!</p>
    <p class="speaker">Por Gabriela Dias</p> -->

    <p><span class="track track-beginners">#iniciantes</span></p>
    <p class="talk">-</p>
    <p class="speaker">-</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:10 - 15:45</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <!-- <p class="talk">Não era apenas uma piada - 25 maneiras de encorajar mulheres para comunidade Python</p>
    <p class="speaker">Por Lidiane Monteiro</p> -->

    <p><span class="track track-web">#web</span></p>
    <!-- <p class="talk">Funkload: Quanto a sua aplicação web aguenta?</p>
    <p class="speaker">Por Iuri de Silvio</p> -->

    <p><span class="track track-pydata">#pydata</span></p>
    <!-- <p class="talk">Girando pratos: concorrência moderna em Python</p>
    <p class="speaker">Por Luciano Ramalho</p> -->

    <p><span class="track track-beginners">#iniciantes</span></p>
    <!-- <p class="talk">Internet das Coisas com Python e Arduino</p>
    <p class="speaker">Por Humberto Zanetti</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>15:50</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:20</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <!-- <p class="talk">Keynote: Learning == Creating (We're All in it Together)</p>
    <p class="speaker">Por Bryan Van de Ven</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>17:10</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <!-- <p class="talk">Keynote: import o que importa</p>
    <p class="speaker">Por Tânia Andrea</p> -->
  </div>

</div>
