<div class="room" id="day5">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>08:30</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:20</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <!-- <p class="talk">Keynote: Python social - relatos sobre o empoderamento de pessoas na África.</p>
    <p class="speaker">Por Luiza Nunes</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>10:10</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:40 - 11:15</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <!-- <p class="talk">Trabalho Remoto: Desafios, vantagens e como fazer direito</p>
    <p class="speaker">Por Willam Fernandes</p> -->

    <p><span class="track track-web">#web</span></p>
    <!-- <p class="talk">Aplicações web escaláveis: além da arquitetura</p>
    <p class="speaker">Por Francisco Souza</p> -->

    <p><span class="track track-pydata">#pydata</span></p>
    <!-- <p class="talk">Processamento de imagens do satélite Landsat 8 para mapeamento de área queimada utilizando Python</p>
    <p class="speaker">Por Emiliano Melchiori</p> -->

    <p><span class="track track-beginners">#iniciantes</span></p>
    <!-- <p class="talk">Design Patterns e Python</p>
    <p class="speaker">Por Raphael Passini</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>11:20 - 11:45</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <!-- <p class="talk">Ahh, meus 20 e poucos! Conselhos de arquitetura e qualidade que eu gostaria de ter ouvido 10 anos atrás.</p>
    <p class="speaker">Por Tony Lampada</p> -->

    <p><span class="track track-web">#web</span></p>
    <!-- <p class="talk">Usando Tapioca para acessar APIs web</p>
    <p class="speaker">Por Filipe Ximenes</p> -->

    <p><span class="track track-pydata">#pydata</span></p>
    <!-- <p class="talk">Bioinformática com Biopython</p>
    <p class="speaker">Por Marcos Castro</p> -->

    <p><span class="track track-beginners">#iniciantes</span></p>
    <!-- <p class="talk">Testes Pythonicos com Py.test</p>
    <p class="speaker">Por Renato Oliveira</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>11:50 - 12:20</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <!-- <p class="talk">Desligue-se! 90 dias desconectado</p>
    <p class="speaker">Por Willian Ribeiro</p> -->

    <p><span class="track track-web">#web</span></p>
    <!-- <p class="talk">Web Async com Python3.4 e asyncio</p>
    <p class="speaker">Por Diego Garcia</p> -->

    <p><span class="track track-pydata">#pydata</span></p>
    <!-- <p class="talk">Python for Data Science</p>
    <p class="speaker">Por Gabriel Moreira</p> -->

    <p><span class="track track-beginners">#iniciantes</span></p>
    <!-- <p class="talk">The good programmer</p>
    <p class="speaker">Por Santiago Basulto</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>12:25</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>13:30 - 14:05</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <!-- <p class="talk">Escale código, não servidores!</p>
    <p class="speaker">Por " Ervilis Viana"</p> -->

    <p><span class="track track-web">#web</span></p>
    <!-- <p class="talk">Geodjango full stack: do mapa ao banco</p>
    <p class="speaker">Por Bruno Martin</p> -->

    <p><span class="track track-pydata">#pydata</span></p>
    <!-- <p class="talk">Stream processing com Python e Apache Storm</p>
    <p class="speaker">Por Victor Poluceno</p> -->

    <p><span class="track track-beginners">#iniciantes</span></p>
    <!-- <p class="talk">Ferramentas de análise de código para Python</p>
    <p class="speaker">Por Guilherme Vierno</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>14:10 - 14:45</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <!-- <p class="talk">Python Guerrilha - levando alegria para ambientes burocráticos</p>
    <p class="speaker">Por Caio Carrara</p> -->

    <p><span class="track track-web">#web</span></p>
    <!-- <p class="talk">Asynchronous working with Python/Django</p>
    <p class="speaker">Por Martin Alderete</p> -->

    <p><span class="track track-pydata">#pydata</span></p>
    <!-- <p class="talk">Criação de Data Warehouse em Banco de Dados NoSQL com Cassandra, Spark e Python</p>
    <p class="speaker">Leandro Mendes Ferreira</p> -->

    <p><span class="track track-beginners">#iniciantes</span></p>
    <!-- <p class="talk">Games com Python</p>
    <p class="speaker">Por Julio Melanda</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>14:50</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:30</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:00</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <!-- <p class="talk">Keynote: Topics of Interest</p>
    <p class="speaker">Por David Beasley</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>16:50</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <!-- <p class="talk">Keynote: APyB - Associação Python Brasil</p>
    <p class="speaker">Por Carlos Leite</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>17:40</time></p>
    <p class="talk">Encerramento</p>
    <p class="speaker"></p>
  </div>

</div>
