<div class="room" id="day2">
  <h1>Tutoriais</h1>
  <p class="day-description">Tutoriais são treinamentos de 2 a 8 horas para você se tornar um Jedi.</p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>

    <p><span class="track track-tutorials">#auditorio</span></p>
    <!-- <p class="talk">Data Wrangling</p>
    <p class="speaker">Por David Beasley</p> -->

    <p><span class="track track-tutorials">#sala1</span></p>
   <!--  <p class="talk">Nas nuvens com python, scaling, Docker e Aws</p>
    <p class="speaker">Por Rondineli</p> -->

    <p><span class="track track-tutorials">#sala3</span></p>
   <!--  <p class="talk">Docker e Python - Do 'mkdir' ao deploy</p>
    <p class="speaker">rcelha</p> -->

    <p><span class="track track-tutorials">#sala4</span></p>
   <!--  <p class="talk">SRE Classroom: Non-Abstract Large System Design</p>
    <p class="speaker">Por Rodolphoeck</p> -->

    <p><span class="track track-tutorials">#sala5</span></p>
   <!--  <p class="talk">Desenvolvendo seu Primeiro “Data Product” com Python e Google Cloud Platform</p>
    <p class="speaker">Por Fabio5</p> -->

    <p><span class="track track-tutorials">#sala6</span></p>
   <!--  <p class="talk">Palestras Django Girls</p>
    <p class="speaker">Por Django Girls</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>10:00</time></p>

    <p><span class="track track-tutorials">#sala1</span></p>
    <!-- <p class="talk">Web scraping na nuvem</p>
    <p class="speaker">Por Elias Dorneles</p> -->

    <p><span class="track track-tutorials">#sala2</span></p>
    <!-- <p class="talk">@comunidade</p>
    <p class="speaker">Por Fernando Masanori</p> -->
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>


  <div class="lecture">
    <p class="hour"><time>13:00</time></p>

    <p><span class="track track-tutorials">#auditorio</span></p>
    <!-- <p class="talk">Unicode prático: de A a Ω</p>
    <p class="speaker">Por Luciano Ramalho</p> -->

    <p><span class="track track-tutorials">#sala1</span></p>
    <!-- <p class="talk">Introdução a Python e Desenvolvimento de Jogos</p>
    <p class="speaker">Por João Sebastião</p> -->

    <p><span class="track track-tutorials">#sala2</span></p>
    <!-- <p class="talk">Modelando seu Negócio com Software Livre</p>
    <p class="speaker">Por Nick Vidal</p> -->

    <p><span class="track track-tutorials">#sala3</span></p>
    <p class="talk">-</p>
    <p class="speaker">-</p>

    <p><span class="track track-tutorials">#sala4</span></p>
    <!-- <p class="talk">Do zero ao Deploy - Fazendo Deploy de aplicações Python</p>
    <p class="speaker">Por ervilis</p> -->

    <p><span class="track track-tutorials">#sala5</span></p>
    <!-- <p class="talk">Introdução à programação de jogos e à física de jogos com Python</p>
    <p class="speaker">Por Fabio6</p> -->
  </div>
</div>
