<div class="room" id="day6">
  <h1>Sprints</h1>
  <p class="day-description">Desenvolvimento e contribuição para projetos open source. Participe!</p>

  <div class="lecture">
    <p class="title"><time>08:00</time> - Início das atividades</p>
    <p class="speaker">Em breve palestrantes...</p>
  </div>

  <div class="lecture">
    <p class="title"><time>09:00</time> - Coffee Break</p>
  </div>

  <div class="lecture">
    <p class="title"><time>10:00</time> - Retorno das atividades</p>
    <p class="speaker">Em breve palestrantes...</p>
  </div>

  <div class="lecture">
    <p class="title"><time>12:00</time> - Almoço</p>
    <p class="speaker">Em breve grade completa...</p>
  </div>
</div>
