<section class="about" id="about">
  <div class="row">
    <div class="column">
      {% include _conference-icon.html %}
      <h1>Conferência</h1>
      <p>A PythonBrasil reúne centenas de pessoas durante 6 dias para discutir sobre software livre, práticas de desenvolvimento e Python.</p>
      <p class="code-of-conduct"><a href="https://github.com/pythonbrasil/codigo-de-conduta" target="_blank">Leia nosso Código de Conduta</a></p>
    </div>

    <div class="column">
      {% include _staff-icon.html %}
      <h1>Organização</h1>
      <p>A PythonBrasil 2016 é organizada pela Comunidade Python de Florianópolis/SC com ajuda da Apyb (Associação PythonBrasil).</p>
    </div>
  </div>
</section>
