<section class="about" id="about">
  <div class="row">
    <div class="column">
      {% include _conference-icon.html %}
      <h1>Conferência</h1>
      <p>A PythonBrasil reúne centenas de pessoas durante 6 dias para discutir sobre software livre, práticas de desenvolvimento e Python.</p>
      <p class="code-of-conduct"><a href="https://github.com/pythonbrasil/codigo-de-conduta" target="_blank">Leia nosso Código de Conduta</a></p>
    </div>

    <div class="column">
      {% include _staff-icon.html %}
      <h1>Organização</h1>
      <p>A PythonBrasil 2016 é organizada pela Comunidade Python de Florianópolis/SC com ajuda da Apyb (Associação PythonBrasil).</p>
      <p class="code-of-conduct"><a href="http://wiki.python.org.br/" target="_blank">Acesse o portal da APyB</a></p>
    </div>

    <div class="column">
    <h1>Scipy Latin América</h1>
      <p>Conferência científica da comunidade Python na America Latina.</p>
      <p class="code-of-conduct"><a href="http://conf.scipyla.org/scipyla2016/" target="_blank">Acesse o portal</a></p>
    </div>

    <div class="column">
    <h1>Python Nordeste</h1>
      <p>Conferência de Python na Nordeste brasileiro.</p>
      <p class="code-of-conduct"><a href="http://2016.pythonnordeste.org/" target="_blank">Acesse o portal</a></p>
    </div>

    <div class="column">
    <h1>Python Sudeste</h1>
      <p>Conferência de Python na Sudeste brasileiro.</p>
      <p class="code-of-conduct"><a href="http://pythonsudeste.org/" target="_blank">Acesse o portal</a></p>
    </div>

    <div class="column">
    <h1>Pycon</h1>
      <p>Maior conferência de Python do mundo.</p>
      <p class="code-of-conduct"><a href="https://us.pycon.org/2016/" target="_blank">Acesse o portal</a></p>
    </div>
  </div>
</section>
