<div class="logo">
  <h1>
    <img src="images/logo.svg" alt="Logo">
    <span><strong>Python</strong>Brasil 2016</span>
  </h1>
</div>

<nav class="menu">
  <span class="trigger"><i></i></span>

  <ul class="list">
    <li class="item">
      <a data-scroll href="#about" class="item-link">Sobre</a>
    </li>

    <li class="item">
      <a data-scroll href="#speakers" class="item-link">Keynotes</a>
    </li>

    <!-- <li class="item">
      <a data-scroll href="#location" class="item-link">Local</a>
    </li> -->

    <li class="item">
      <a data-scroll href="#schedule" class="item-link">Programação</a>
    </li>

    <li class="item">
      <a data-scroll href="#sponsors" class="item-link">Patrocinadores</a>
    </li>

    <li class="item">
      <p><a href="http://blog.pythonbrasil.org.br/" target="_blank" class="item-link">Blog</a></p>
    </li>
  </ul>
</nav>
