<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>
    <p class="schedule-description">dia-1 e dia-2 - Tutoriais | dia-3, dia-4 e dia-5 - Palestras | dia-6 - Sprints</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day1" class="item-link active">Dia-1</a>
        </li>

        <li class="item">
          <a href="#day2" class="item-link">Dia-2</a>
        </li>

        <li class="item">
          <a href="#day3" class="item-link">Dia-3</a>
        </li>

        <li class="item">
          <a href="#day4" class="item-link">Dia-4</a>
        </li>

        <li class="item">
          <a href="#day5" class="item-link">Dia-5</a>
        </li>

        <li class="item">
          <a href="#day6" class="item-link">Dia-6</a>
        </li>
      </ul>
    </nav>

    {% include _day1.html %}

    {% include _day2.html %}

    {% include _day3.html %}

    {% include _day4.html %}

    {% include _day5.html %}

    {% include _day6.html %}
  </div>
</section>
