<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>

    <ul class="speakers-list">
      <!-- <li class="speaker">
        <a href="http://continuum.io/author/bryanv" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/bryanv.jpg" alt="Bryan Van de Ven">
          </div>

          <h2 class="speaker-name">Bryan Van de Ven</h2>
          <p class="speaker-description">Bryan is a senior software engineer at Continuum Analytics, and is the project lead for the Open Source Bokeh visualization system.</p>
        </a>
      </li>
      
      <li class="speaker">
        <a href="http://www.dabeaz.com/" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/david-beazley.jpg" alt="David Beazley">
          </div>

          <h2 class="speaker-name">David Beazley</h2>
          <p class="speaker-description">Author of the Python Essential Reference and Python Cookbook. He is an independent software developer, teacher, and book author living in the city of Chicago.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="http://www.thoughtworks.com/profiles/luiza-nunes" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/luiza-nunes.jpg" alt="Luiza Nunes">
          </div>

          <h2 class="speaker-name">Luiza Nunes</h2>
          <p class="speaker-description">Joseense, graduated at FATEC SJC, Luiza nurtures Agile and SW development with her experience as Quality Advocate Consultant at ThoughtWorks Brazil.She has worked with several domains and team sizes in different ThoughtWorks offices around the world.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https://www.linkedin.com/in/rafgoncalves" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/rafael-goncalves.jpg" alt="Rafael Gonçalves">
          </div>

          <h2 class="speaker-name">Rafael Gonçalves</h2>
          <p class="speaker-description">Rafael Gonçalves fez Engenharia Mecatrônica e Mestrado na Poli/USP. Trabalhou no Fraunhofer Institute. É fundador da Tegris e do FieldLink.me. Em 2014 assumiu a coordenação do escritório de desenvolvimento de sistemas digitais da FDTE.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https://www.linkedin.com/in/taniaandrea" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/tania-andrea.jpg" alt="Tânia Andrea">
          </div>

          <h2 class="speaker-name">Tânia Andrea</h2>
          <p class="speaker-description">Gerente de projetos na ZNC Sistemas. Formada em Ciência da Computação com Pós em Software Livre e Gestão de Projetos. Organizou a PythonBrasil[9] / PloneConf 2013. Atuou na Polícia Federal, Presidência, MJ, MRE, Apex-Brasil, Codevasf e é consultora externa de TI.</p>
        </a>
      </li> -->
    </ul>
  </div>
</section>
