<section class="volunteers">
  <div class="row">
    <h1>Voluntários</h1>
    <ul>
      <li><a href="https://twitter.com/erichideki" target="_blank">Eric Hideki (Sampa)</a></li>
      <li>Marina Ribeiro (Rio)</li>
      <li><a href="https://twitter.com/renzoprobr" target="_blank">Renzo Nuccitelli (SJC)</a></li>
      <li>Cláudio Berrondo (Rio)</li>
      <li><a href="https://twitter.com/jcemelanda" target="_blank">Júlio Melanda (SJC)</a></li>
      <li>Carlos Eduardo de Oliveira (Hacker Clube/SJC)</li>
      <li>Carlos Eduardo Leite [cadu]  (SJC)</li>
      <li>Renato Oliveira (Recife)</li>
      <li>Felipe Ximenes [Xima]  (Recife)</li>
      <li>Luiz Vital (SJC)</li>
      <li><a href="https://twitter.com/avelino0" target="_blank">Thiago Avelino [XXXLinus] (Sampa)</a></li>
      <li>Fábio Barrionuevo (Palmas)</li>
      <li><a href="https://twitter.com/deniscostadsc" target="_blank">Denis Costa (SJC)</a></li>
      <li><a href="https://twitter.com/michelamaral" target="_blank">Michel Amaral (Designa / Pinda)</a></li>
      <li><a href="https://twitter.com/bsao" target="_blank">Robson Junior (Viva Real / Sampa)</a></li>
      <li>Fábio Luis (Hacker Clube/SJC)</li>
      <li>Verônica (Django Girls/SJC)</li>
      <li>Lidiane (Recife)</li>
      <li><a href="https://br.linkedin.com/in/ricardoms" target="_blank">Ricardo Savii (SJC)</a></li>
      <li>Roger (SJC)</li>
      <li><a href="https://twitter.com/jmscarpa" target="_blank">João Mateus Scarpa (Designa / Taubaté)</a></li>
      <li>Josiane (SJC)</li>
      <li>José Thomazini [Thomaz]  (SJC)</li>
      <li>Marcelo Tambalo (SJC)</li>
      <li><a href="https://twitter.com/gutomaia" target="_blank">Guto Maia (Salvador)</a></li>
      <li><a href="https://twitter.com/ramalhoorg" target="_blank">Luciano Ramalho (Sampa)</a></li>
      <li>Arakaki (Fatec/SJC)</li>
      <li>Sakawe (Fatec/SJC)</li>
      <li><a href="https://twitter.com/fmasanori" target="_blank">Massanori (SJC)</a></li>
      <li>Marcelo Nunes (CECOMPI/SJC)</li>
      <li>Diego Nicolau (SJC)</li>
      <li>Mauro Assis [Maurão]  (Hacker Clube/SJC)</li>
      <li>Alex Porto (Hacker Clube/SJC)</li>
      <li>Paula Granjeiro (DjangoGirls/Rio)</li>
      <li><a href="https://twitter.com/taniaandrea_com" target="_blank"></a> Tânia Andrea (Brasília)</li>
      <li>Estefânia (Django Girls / SJC)</li>
      <li>Erico Andrei (Sampa)</li>
      <li>Joao Bueno [JS]  (Campinas)</li>
    </ul>
  </div>
</section>
