<section class="volunteers">
  <div class="row">
    <h1>Voluntários</h1>
    <ul>
      <li><a href="https://twitter.com/queirozMario21" target="_blank">Mário Sérgio (Floripa)</a></li>
      <li><a href="https://twitter.com/eliasdorneles" target="_blank">Elias Dorneles (Floripa)</a></li>
      <li><a href="https://twitter.com/guilhermemaba" target="_blank">Guilherme Maba (Floripa)</a></li>
      <li><a href="https://twitter.com/voorloopnul" target="_blank">Ricardo Pascal (Floripa)</a></li>
      <li><a href="https://twitter.com/marcorougeth" target="_blank">Marco Rougeth (Ribeirão Preto)</a></li>
      <li><a href="https://twitter.com/henriquebastos" target="_blank">Henrique Bastos (Niterói)</a></li>
      <li><a href="https://twitter.com/JairoJair" target="_blank">Jairo Jair (Floripa)</a></li>
      <li><a href="https://twitter.com/santos_igr" target="_blank">Igor Santos (Belo Horizonte)</a></li>
      <li><a href="https://twitter.com/humrochagf" target="_blank">Humberto Rocha (Brasília)</a></li>
      <li><a href="https://twitter.com/erichideki" target="_blank">Eric Hideki (Sampa)</a></li>
      <li><a href="https://twitter.com/fmasanori" target="_blank">Massanori (SJC)</a></li>
      <li><a href="https://twitter.com/taniaandrea_com" target="_blank">Tânia Andrea (Brasília)</a></li>
      <li><a href="https://twitter.com/EdmarPAraujo" target="_blank">Edmar Araujo (Floripa)</a></li>
      <li><a href="https://twitter.com/gt_salles" target="_blank">Gustavo Carvalho (Teresina)</a></li>
      <li><a href="https://twitter.com/giolpiazza" target="_blank">Giovanni Piazza (Floripa)</a></li>
      <li><a href="https://twitter.com/ramiroluz" target="_blank">Ramiro Luz (Coritiba)</a></li>
      <li><a href="https://twitter.com/pixeledbird" target="_blank">Biguá (Brasília)</a></li>
      <li>Leticia Portella (Floripa)</li>
      <li>Augusto Hack (Floripa)</li>
      <!-- <li><a href="https://twitter.com/renzoprobr" target="_blank">Renzo Nuccitelli (SJC)</a></li> -->
      <!-- <li>Carlos Eduardo Leite [cadu]  (SJC)</li> -->
      <!-- <li>Renato Oliveira (Recife)</li> -->
      <!-- <li>Felipe Ximenes [Xima]  (Recife)</li> -->
      <!-- <li><a href="https://twitter.com/avelino0" target="_blank">Thiago Avelino [XXXLinus] (Sampa)</a></li> -->
      <!-- <li>Fábio Barrionuevo (Palmas)</li> -->
      <!-- <li><a href="https://twitter.com/deniscostadsc" target="_blank">Denis Costa (SJC)</a></li> -->
      <!-- <li><a href="https://twitter.com/bsao" target="_blank">Robson Junior (Viva Real / Sampa)</a></li> -->
      <!-- <li><a href="https://twitter.com/gutomaia" target="_blank">Guto Maia (Salvador)</a></li> -->
      <!-- <li><a href="https://twitter.com/ramalhoorg" target="_blank">Luciano Ramalho (Sampa)</a></li> -->
      <!-- <li>Erico Andrei (Sampa)</li> -->
    </ul>
  </div>
</section>
