<div class="room active" id="day1">
  <h1>Tutoriais</h1>
  <p class="day-description">Tutoriais são treinamentos de 2 a 8 horas para você se tornar um Jedi.</p>
  <p class="local">LOCAL: <a target="_blank" href="https://www.google.com.br/maps/place/Faculdade+Cesusc/@-27.5004885,-48.5172277,17z/data=!3m1!4b1!4m5!3m4!1s0x9527468b52090801:0xb067ed420bbae02b!8m2!3d-27.5004885!4d-48.515039?hl=en">Faculdade Cesusc</a></p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>

    <p><span class="track track-tutorials">#auditório</span></p>
    <p class="talk">Curso Básico de Python</p>
    <p class="speaker">PyLadies - SP</p>

    <p><span class="track track-tutorials">#sala1</span></p>
    <p class="talk">Wolfcrypt: embalando segredos com Python</p>
    <p class="speaker">Moisés Guimarães</p>

    <p><span class="track track-tutorials">#sala2</span></p>
    <p class="talk">Lógica de programação em Python</p>
    <p class="speaker">Escola de Dados</p>

    <p><span class="track track-tutorials">#sala3</span></p>
    <p class="talk">Elm: chega de dor de cabeça com o frontend</p>
    <p class="speaker">Eduardo Cuducos</p>

    <p><span class="track track-tutorials">#sala4</span></p>
    <p class="talk">Odoo - Open Source ERP - Como instalar e desenvolver aplicações empresariais</p>
    <p class="speaker">Luis Felipe Miléo</p>

    <p><span class="track track-tutorials">#sala5</span></p>
    <p class="talk">Arquitetura, Especificação e Implementação de APIs REST</p>
    <p class="speaker">Felipe Rodrigues</p>
   </div>

   <div class="lecture">
    <p class="hour"><time>09:45</time></p>
    <p class="talk">Coffe Break</p>
    <p class="speaker"></p>
   </div>

  <div class="lecture">
    <p class="hour"><time>10:15</time></p>

    <p><span class="track track-tutorials">#sala3</span></p>
    <p class="talk">Hackeando Dados Públicos com Python</p>
    <p class="speaker">Fernando Masanori</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:00</time></p>

    <p><span class="track track-tutorials">#auditório</span></p>
    <p class="talk">Curso Básico de Python</p>
    <p class="speaker">PyLadies - SP</p>

    <p><span class="track track-tutorials">#sala1</span></p>
    <p class="talk">Desenvolvimento de Web Scrapers com Scrapy</p>
    <p class="speaker">Valdir Stumm Junior</p>

    <p><span class="track track-tutorials">#sala2</span></p>
    <p class="talk">Python Orientado a Objetos</p>
    <p class="speaker">Luiz Menezes</p>

    <p><span class="track track-tutorials">#sala3</span></p>
    <p class="talk">Introdução - Apache Cassandra</p>
    <p class="speaker">Hanneli Tavante</p>

    <p><span class="track track-tutorials">#sala4</span></p>
    <p class="talk">Odoo - Open Source ERP - Como instalar e desenvolver aplicações empresariais</p>
    <p class="speaker">Luis Felipe Miléo</p>

    <p><span class="track track-tutorials">#sala5</span></p>
    <p class="talk">Arquitetura, Especificação e Implementação de APIs REST</p>
    <p class="speaker">Felipe Rodrigues</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:45</time></p>
    <p class="talk">Coffe Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:15</time></p>

    <p><span class="track track-tutorials">#sala3</span></p>
    <p class="talk">Unsupervised Learning with Python</p>
    <p class="speaker">Breandan Considine</p>
  </div>
</div>
