<div class="room active" id="day1">
  <h1>Tutoriais</h1>
  <p class="day-description">Tutoriais são treinamentos de 2 a 8 horas totalmente gratuitos para você se tornar um Jedi.
  <a href="http://blog.pythonbrasil.org.br/se-inscreva-para-os-tutoriais-aqui.html#article" target="_blank" class="register">INSCREVA-SE AQUI</a>
  </p>
  <p class="local">LOCAL: <a target="_blank" href="https://www.google.com.br/maps/place/Faculdade+Cesusc/@-27.5004885,-48.5172277,17z/data=!3m1!4b1!4m5!3m4!1s0x9527468b52090801:0xb067ed420bbae02b!8m2!3d-27.5004885!4d-48.515039?hl=en">Faculdade Cesusc</a></p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>

    <p><span class="track track-tutorials">#auditório</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#curso-basico-de-python" target="_blank"><p class="talk">Curso Básico de Python</p></a>
    <p class="speaker">PyLadies - SP</p>

    <p><span class="track track-tutorials">#sala107</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#wolfcrypt-embalando-segredos-com-python" target="_blank"><p class="talk">Wolfcrypt: embalando segredos com Python</p></a>
    <p class="speaker">Moisés Guimarães</p>

    <p><span class="track track-tutorials">#sala108</span></p>
    <p class="talk">Lógica de programação em Python</p>
    <p class="speaker">Escola de Dados</p>

    <p><span class="track track-tutorials">#sala109</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#elm-chega-de-dor-de-cabeca-com-o-frontend" target="_blank"><p class="talk">Elm: chega de dor de cabeça com o frontend</p></a>
    <p class="speaker">Eduardo Cuducos</p>

    <p><span class="track track-tutorials">#sala110</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#odoo-open-source-erp-como-instalar-e-desenvolver-aplicacoes-empresariais" target="_blank"><p class="talk">Odoo - Open Source ERP - Como instalar e desenvolver aplicações empresariais</p></a>
    <p class="speaker">Luis Felipe Miléo</p>

    <p><span class="track track-tutorials">#sala111</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#arquitetura-especificacao-e-implementacao-de-apis-rest" target="_blank"><p class="talk">Arquitetura, Especificação e Implementação de APIs REST</p></a>
    <p class="speaker">Felipe Rodrigues</p>
   </div>

   <div class="lecture">
    <p class="hour"><time>09:45</time></p>
    <p class="talk">Coffe Break</p>
    <p class="speaker"></p>
   </div>

  <div class="lecture">
    <p class="hour"><time>10:15</time></p>

    <p><span class="track track-tutorials">#sala109</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#hackeando-dados-publicos-com-python-2h-2" target="_blank"><p class="talk">Hackeando Dados Públicos com Python</p></a>
    <p class="speaker">Fernando Masanori</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:00</time></p>

    <p><span class="track track-tutorials">#auditório</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#curso-basico-de-python" target="_blank"><p class="talk">Curso Básico de Python</p></a>
    <p class="speaker">PyLadies - SP</p>

    <p><span class="track track-tutorials">#sala107</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#desenvolvimento-de-web-scrapers-com-scrapy" target="_blank"><p class="talk">Desenvolvimento de Web Scrapers com Scrapy</p></a>
    <p class="speaker">Valdir Stumm Junior</p>

    <p><span class="track track-tutorials">#sala108</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#python-orientado-a-objetos" target="_blank"><p class="talk">Python Orientado a Objetos</p></a>
    <p class="speaker">Luiz Menezes</p>

    <p><span class="track track-tutorials">#sala109</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#introducao-apache-cassandra" target="_blank"><p class="talk">Introdução - Apache Cassandra</p></a>
    <p class="speaker">Hanneli Tavante</p>

    <p><span class="track track-tutorials">#sala110</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#odoo-open-source-erp-como-instalar-e-desenvolver-aplicacoes-empresariais" target="_blank"><p class="talk">Odoo - Open Source ERP - Como instalar e desenvolver aplicações empresariais</p></a>
    <p class="speaker">Luis Felipe Miléo</p>

    <p><span class="track track-tutorials">#sala111</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#arquitetura-especificacao-e-implementacao-de-apis-rest" target="_blank"><p class="talk">Arquitetura, Especificação e Implementação de APIs REST</p></a>
    <p class="speaker">Felipe Rodrigues</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:45</time></p>
    <p class="talk">Coffe Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:15</time></p>

    <p><span class="track track-tutorials">#sala109</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-tutoriais/#unsupervised-learning-with-python" target="_blank"><p class="talk">Unsupervised Learning with Python</p></a>
    <p class="speaker">Breandan Considine</p>
  </div>
</div>
