<div class="room" id="day1">
  <h1>Tutoriais</h1>
  <p class="day-description">Tutoriais são treinamentos de 2 a 8 horas para você se tornar um Jedi.</p>
  <p class="local">LOCAL: <a target="_blank" href="https://www.google.com.br/maps/place/Faculdade+Cesusc/@-27.5004885,-48.5172277,17z/data=!3m1!4b1!4m5!3m4!1s0x9527468b52090801:0xb067ed420bbae02b!8m2!3d-27.5004885!4d-48.515039?hl=en">Faculdade Cesusc</a></p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>

    <p><span class="track track-tutorials">#auditório</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala1</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala2</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala3</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala4</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala5</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>
   </div>

  <div class="lecture">
    <p class="hour"><time>10:00</time></p>

    <p><span class="track track-tutorials">#sala1</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala2</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>13:30</time></p>

    <p><span class="track track-tutorials">#auditório</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala1</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala2</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala3</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala4</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala5</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:30</time></p>

    <p><span class="track track-tutorials">#sala1</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala2</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>

    <p><span class="track track-tutorials">#sala3</span></p>
    <p class="talk">Tutorial a definir</p>
    <p class="speaker">Tutor a definir</p>
  </div>
</div>
