<div class="room" id="day2">
  <h1>Tutoriais</h1>
  <p class="day-description">Tutoriais são treinamentos de 2 a 8 horas totalmente gratuitos para você se tornar um Jedi.
  <a href="http://blog.pythonbrasil.org.br/se-inscreva-para-os-tutoriais-aqui.html#article" target="_blank" class="register">INSCREVA-SE AQUI</a>
  </p>
  <p class="local">LOCAL: <a target="_blank" href="https://www.google.com.br/maps/place/Faculdade+Cesusc/@-27.5004885,-48.5172277,17z/data=!3m1!4b1!4m5!3m4!1s0x9527468b52090801:0xb067ed420bbae02b!8m2!3d-27.5004885!4d-48.515039?hl=en">Faculdade Cesusc</a></p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>

    <p><span class="track track-tutorials">#auditório</span></p>
    <p class="talk">Machine Learning para Hackers</p>
    <p class="speaker">Irio Musskopf</p>

    <p><span class="track track-tutorials">#sala124</span></p>
    <p class="talk">Django Girls</p>
    <p class="speaker">Django Girls Floripa</p>

    <p><span class="track track-tutorials">#sala126</span></p>
    <p class="talk">Django Girls</p>
    <p class="speaker">Django Girls Floripa</p>

    <p><span class="track track-tutorials">#sala125A</span></p>
    <p class="talk">Tutorial de Git</p>
    <p class="speaker">Débora Correia</p>

    <p><span class="track track-tutorials">#sala113</span></p>
    <p class="talk">A definir</p>
    <p class="speaker"></p>

    <p><span class="track track-tutorials">#sala125B</span></p>
    <p class="talk">pyspark e computação distribuida</p>
    <p class="speaker">Robson Luis</p>
   </div>

   <div class="lecture">
    <p class="hour"><time>09:45</time></p>
    <p class="talk">Coffe Break</p>
    <p class="speaker"></p>
   </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:00</time></p>

    <p><span class="track track-tutorials">#auditório</span></p>
    <p class="talk">rows: extraindo, normalizando e salvando dados tabulares</p>
    <p class="speaker">Álvaro Justen</p>

    <p><span class="track track-tutorials">#sala13</span></p>
    <p class="talk">Django Girls</p>
    <p class="speaker">Django Girls Floripa</p>

    <p><span class="track track-tutorials">#sala14</span></p>
    <p class="talk">Django Girls</p>
    <p class="speaker">Django Girls Floripa</p>

    <p><span class="track track-tutorials">#sala15</span></p>
    <p class="talk">FlapPyLadies: Crie seu primeiro jogo em Python!</p>
    <p class="speaker">Jessica Dias</p>

    <p><span class="track track-tutorials">#sala16</span></p>
    <p class="talk">Qual é a desse tal de Kanban, e como ele pode te ajudar a ser ágil de verdade</p>
    <p class="speaker">Rodrigo Vieira</p>

    <p><span class="track track-tutorials">#sala17</span></p>
    <p class="talk">pyspark e computação distribuida</p>
    <p class="speaker">Robson Luis</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:45</time></p>
    <p class="talk">Coffe Break</p>
    <p class="speaker"></p>
   </div>

  <div class="lecture">
    <p class="hour"><time>16:15</time></p>

    <p><span class="track track-tutorials">#sala16</span></p>
    <p class="talk">Realização de um Coding Dojo no formato Randori</p>
    <p class="speaker">PyLadies São Carlos</p>
  </div>
</div>
