<div class="room active" id="day3">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p class="talk">Abertura</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:00</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <p class="talk">Keynote a definir</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:50</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:10</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>13:20 - 13:55</time></p>

    <p><span class="track track-beginners">#iniciantes</span><span class="track track-web">#web</span></p>
    <p class="talk">O que é esse tal de REST?</p>
    <p class="speaker">Filipe Ximenes</p>

    <p><span class="track track-pydata">#python científico</span></p>
    <p class="talk">Big Data e Python como cidadão de primeira classe para Sistemas Distribuídos</p>
    <p class="speaker">Victor Poluceno</p>

    <p><span class="track track-web">#web</span></p>
    <p class="talk">É Pythônico, mas… é macarrônico? [WEB]</p>
    <p class="speaker">Marcio Marchini</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:05 - 14:40</time></p>

    <p><span class="track track-pydata">#python científico</span></p>
    <p class="talk">Como usei o Python para ajudar animais abandonados</p>
    <p class="speaker">Annanda Sousa</p>

    <p><span class="track track-beginners">#iniciantes</span><span class="track track-career">#testes</span></p>
    <p class="talk">Mock Away! Uma análise de a escrita de testes de unidade e mocks para algumas ferramentas e frameworks conhecidos</p>
    <p class="speaker">Andre Macdowell</p>

    <p><span class="track track-web">#jogos</span></p>
    <p class="talk">Servidores de jogos em Python</p>
    <p class="speaker">Cleyton Pedroza</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:50 - 15:25</time></p>

    <p><span class="track track-pydata">#embarcados</span></p>
    <p class="talk">Desenvolvendo soluções de IoT usando Python com as placas da Intel</p>
    <p class="speaker">Juliana Karoline</p>

    <p><span class="track track-beginners">#iniciantes</span></p>
    <p class="talk">Como fazer boas libs? O que torna uma biblioteca fácil de usar</p>
    <p class="speaker">Flávio Junior</p>

    <p><span class="track track-career">#comunidade</span></p>
    <p class="talk">Programação além do código: comunidade e mulheres na tecnologia</p>
    <p class="speaker">Leticia Portella</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:35 - 16:10</time></p>

    <p><span class="track track-career">#comunidade</span></p>
    <p class="talk">A inevitável ruptura da comunidade</p>
    <p class="speaker">Henrique Bastos</p>

    <p><span class="track track-beginners">#debug</span></p>
    <p class="talk">Aprimorando as habilidades de debugging e troubleshooting</p>
    <p class="speaker">Elias Dorneles</p>

    <p><span class="track track-pydata">#python científico</span></p>
    <p class="talk">Produzindo lindos relatórios com Pweave</p>
    <p class="speaker">Melissa Mendonça</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:10</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:30</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>17:10</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <p class="talk">Keynote a definir</p>
    <p class="speaker"></p>
  </div>
</div>
