<div class="room active" id="day3">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p class="talk">Abertura</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:00</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <p class="talk">Sergio Oliveira Campos</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:50</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:10</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>13:20 - 13:55</time></p>

    <p><span class="track track-beginners">#iniciantes</span><span class="track track-web">#web</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#o-que-e-esse-tal-de-rest" target="_blank"><p class="talk">O que é esse tal de REST?</p></a>
    <p class="speaker">Filipe Ximenes</p>

    <p><span class="track track-pydata">#python científico</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#big-data-e-python-como-cidadao-de-primeira-classe-para-sistemas-distribuidos" target="_blank"><p class="talk">Big Data e Python como cidadão de primeira classe para Sistemas Distribuídos</p></a>
    <p class="speaker">Victor Poluceno</p>

    <p><span class="track track-web">#web</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#e-pythonico-mas-e-macarronico-web" target="_blank"><p class="talk">É Pythônico, mas… é macarrônico? [WEB]</p></a>
    <p class="speaker">Marcio Marchini</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:05 - 14:40</time></p>

    <p><span class="track track-pydata">#python científico</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#como-usei-o-python-para-ajudar-animais-abandonados" target="_blank"><p class="talk">Como usei o Python para ajudar animais abandonados</p></a>
    <p class="speaker">Annanda Sousa</p>

    <p><span class="track track-beginners">#iniciantes</span><span class="track track-career">#testes</span></p>
     <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#iniciantes-mock-away-uma-analise-de-a-escrita-de-testes-de-unidade-e-mocks-para-algumas-ferramentas-e-frameworks-conhecidos" target="_blank"><p class="talk">Mock Away! Uma análise de a escrita de testes de unidade e mocks para algumas ferramentas e frameworks conhecidos</p></a>
    <p class="speaker">Andre Macdowell</p>

    <p><span class="track track-web">#jogos</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#games-back-end-servidores-de-jogos-em-python" target="_blank"><p class="talk">Servidores de jogos em Python</p></a>
    <p class="speaker">Cleyton Pedroza</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:50 - 15:25</time></p>

    <p><span class="track track-pydata">#embarcados</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#desenvolvendo-solucoes-de-iot-usando-python-com-as-placas-da-intel" target="_blank"><p class="talk">Desenvolvendo soluções de IoT usando Python com as placas da Intel</p></a>
    <p class="speaker">Juliana Karoline</p>

    <p><span class="track track-beginners">#bibliotecas</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#como-fazer-boas-libs-o-que-torna-uma-biblioteca-facil-de-usar-3" target="_blank"><p class="talk">Como fazer boas libs? O que torna uma biblioteca fácil de usar</p></a>
    <p class="speaker">Flávio Junior</p>

    <p><span class="track track-career">#comunidade</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#programacao-alem-do-codigo-comunidade-e-mulheres-na-tecnologia" target="_blank"><p class="talk">Programação além do código: comunidade e mulheres na tecnologia</p></a>
    <p class="speaker">Leticia Portella</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:35 - 16:10</time></p>

    <p><span class="track track-career">#comunidade</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#a-inevitavel-ruptura-da-comunidade" target="_blank"><p class="talk">A inevitável ruptura da comunidade</p></a>
    <p class="speaker">Henrique Bastos</p>

    <p><span class="track track-beginners">#debug</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#aprimorando-as-habilidades-de-debugging-e-troubleshooting" target="_blank"><p class="talk">Aprimorando as habilidades de debugging e troubleshooting</p></a>
    <p class="speaker">Elias Dorneles</p>

    <p><span class="track track-pydata">#python científico</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#produzindo-lindos-relatorios-com-pweave" target="_blank"><p class="talk">Produzindo lindos relatórios com Pweave</p></a>
    <p class="speaker">Melissa Mendonça</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:10</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:30</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>17:10</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <p class="talk">Hanneli Tavante</p>
    <p class="speaker"></p>
  </div>
</div>
