<div class="room" id="day4">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>08:30</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks - Sala Sambaqui 5</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:20</time></p>
    <p><span class="track track-keynote">#keynote - Sala Sambaqui 5</span></p>
    <p class="talk">Naomi Ceder</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:10</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:40 - 11:15</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#hoje-sou-um-professor-feliz-python-no-ensino-de-programacao" target="_blank"><p class="talk">Hoje sou um professor FELIZ: Python no ensino de programação</p></a>
    <p class="speaker">Fernando Masanori (Sala Sambaqui 5)</p>

    <p><span class="track track-beginners">#iniciantes</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#aprendi-python-e-agora" target="_blank"><p class="talk">Aprendi Python, e agora?</p></a>
    <p class="speaker">Júlio César Eiras (Sala Sambaqui 1)</p>

    <p><span class="track track-pydata">#python científico</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#descobrindo-as-menores-distancias-entre-diversas-cidades-com-python-e-glpk" target="_blank"><p class="talk">Descobrindo as menores distâncias entre diversas cidades com Python e GLPK</p></a>
    <p class="speaker">Betania Campello (Sala Sambaqui 3)</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:25 - 12:00</time></p>

    <p><span class="track track-career">#comunidade</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#pyladies-e-django-girls-ajudando-a-tornar-a-comunidade-python-mais-diversa-e-mais-inclusiva" target="_blank"><p class="talk">Pyladies e Django Girls ajudando a tornar a comunidade Python mais diversa e mais inclusiva</p></a>
    <p class="speaker">Pyladies Brasil (Sala Sambaqui 5)</p>

    <p><span class="track track-web">#web</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#web-real-time-django-usando-redis-e-websockets" target="_blank"><p class="talk">Real Time Django usando Redis e Websockets</p></a>
    <p class="speaker">Stamatios Stamou Jr (Sala Sambaqui 3)</p>

    <p><span class="track track-pydata">#python científico</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#como-otimizar-um-problema-utilizando-algoritmo-genetico-em-python-python-cientifico" target="_blank"><p class="talk">Como Otimizar um Problema Utilizando Algoritmo Genético em Python?</p></a>
    <p class="speaker">Renan Rodrigues (Sala Sambaqui 1)</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>13:20 - 13:55</time></p>

    <p><span class="track track-web">#web</span><span class="track track-pydata">#arquitetura</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#performance-analysis-101" target="_blank"><p class="talk">Performance Analysis 101</p></a>
    <p class="speaker">Tarsis Azevedo (Sala Sambaqui 1)</p>

    <p><span class="track track-beginners">#iniciantes</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#pyrobo-automatizacao-com-python" target="_blank"><p class="talk">PyRobô: Automatização com Python</p></a>
    <p class="speaker">Barbara Moraes Vicente (Sala Sambaqui 5)</p>

    <p><span class="track track-career">#jogos</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#nes-hacks-2" target="_blank"><p class="talk">NES Hacks</p></a>
    <p class="speaker">Guto Maia (Sala Sambaqui 3)</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:05 - 14:40</time></p>

    <p><span class="track track-career">#comunidade</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#fishbowl-diversidade" target="_blank"><p class="talk">Fishbowl: Diversidade</p></a>
    <p class="speaker">Luciano Ramalho + Comunidade (Sala Sambaqui 5)</p>

    <p><span class="track track-web">#jornalismo</span></p>
    <p class="talk">Python para jornalistas</p>
    <p class="speaker">Álvaro Justen e Natália Mazotte (Sala Sambaqui 1)</p>

    <p><span class="track track-pydata">#devops</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#docker-overkill-coisas-interessantes-mirabolantes-inseguras-e-desnecessarias-para-se-fazer-com-docker" target="_blank"><p class="talk">Docker Overkill - Coisas interessantes, mirabolantes, inseguras e desnecessárias para se fazer com Docker</p></a>
    <p class="speaker">Felipe Arruda (Sala Sambaqui 5)</p>

  </div>

  <div class="lecture">
    <p class="hour"><time>14:50 - 15:25</time></p>

    <p><span class="track track-web">#banco de dados</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#graph-databases-discutindo-o-relacionamento-dos-seus-dados-com-python" target="_blank"><p class="talk">Graph Databases: Discutindo o Relacionamento dos seus Dados com Python</p></a>
    <p class="speaker">Nicolle Cysneiros (Sala Sambaqui 3)</p>

    <p><span class="track track-beginners">#iniciantes</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#estrutura-de-dados-e-collections-em-python-3" target="_blank"><p class="talk">Estrutura de dados e collections em Python</p></a>
    <p class="speaker">André Ericson (Sala Sambaqui 1)</p>

    <p><span class="track track-career">#carreira</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-apresentacoes/#500-dias-de-open-source" target="_blank"><p class="talk">500 Dias de Open Source</p></a>
    <p class="speaker">Raphael Amorim (Sala Sambaqui 5)</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:25</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:55 - 16:25</time></p>
    <p><span class="track track-lightning-talk">#job-fair</span></p>
    <p class="talk">Job Fair</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:30</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks - Sala Sambaqui 5</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>17:10</time></p>
    <p><span class="track track-keynote">#keynote - Sala Sambaqui 5</span></p>
    <p class="talk">Sam Agnew</p>
    <p class="speaker"></p>
  </div>
</div>
