<div class="room" id="day5">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>08:30</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:20</time></p>
    <p><span class="track track-keynote">#keynote</span></p>
    <p class="talk">Keynote a definir</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:10</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:40 - 11:15</time></p>

    <p><span class="track track-beginners">#iniciantes</span></p>
    <p class="talk">Python para malabaristas - uma introdução ao OpenCV</p>
    <p class="speaker">Otavio Carneiro</p>

    <p><span class="track track-career">#carreira</span></p>
    <p class="talk">1 ano trabalhando como Dev Django depois de 5 anos como Dev Java</p>
    <p class="speaker">Kátia Yoshime Nakamura</p>

    <p><span class="track track-web">#web</span></p>
    <p class="talk">APIs escalaveis, simples e com boa documentação usando Flask e SwaggerUI</p>
    <p class="speaker">Bruno Rocha</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:25 - 12:00</time></p>

    <p><span class="track track-beginners">#concorrência</span></p>
    <p class="talk">Python Assíncrono: tudo ao mesmo tempo agora</p>
    <p class="speaker">Luciano Ramalho</p>

    <p><span class="track track-web">#arquitetura</span></p>
    <p class="talk">Como desenvolver e manter aplicações em ambiente hostil</p>
    <p class="speaker">Júlio César</p>

    <p><span class="track track-pydata">#python científico</span></p>
    <p class="talk">Treinando Modelos Ensemble com Scikit-Learn</p>
    <p class="speaker">Andressa Sivolella</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>13:20 - 13:55</time></p>

    <p><span class="track track-career">#carreira</span></p>
    <p class="talk">Seja contratado! - Dicas para se preparar para um emprego remoto</p>
    <p class="speaker">Elyézer Rezende e Bruno Rocha</p>

    <p><span class="track track-web">#web</span></p>
    <p class="talk">Search Engines com Python e Elasticsearch</p>
    <p class="speaker">Patty Vader</p>

    <p><span class="track track-pydata">#Trilha a definir</span></p>
    <p class="talk">A definir</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:05 - 14:40</time></p>

    <p><span class="track track-career">#comunidade</span></p>
    <p class="talk">Um ano depois.. O que aconteceu depois da minha primeira Python Brasil.</p>
    <p class="speaker">Paola Katherine Pacheco</p>

    <p><span class="track track-web">#web</span></p>
    <p class="talk">Definindo um Boilerplate Customizável usando Django, React e Bootstrap</p>
    <p class="speaker">Lais Varejão</p>

    <p><span class="track track-beginners">#testes</span></p>
    <p class="talk">RobotFramework: Testes de aceitação full-stack e controle remoto que fala sua lingua</p>
    <p class="speaker">Leonardo Rochael</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:50 - 15:25</time></p>

    <p><span class="track track-web">#web</span><span class="track track-beginners">#segurança</span></p>
    <p class="talk">Construindo uma aplicação web segura</p>
    <p class="speaker">Roselma Mendes</p>

    <p><span class="track track-career">#carreira</span></p>
    <p class="talk">Emotional Intelligence as the key of Professional Success</p>
    <p class="speaker">Julian Farrapeira</p>

    <p><span class="track track-web">#web</span></p>
    <p class="talk">Sua API é uma UI</p>
    <p class="speaker">Renato Oliveira</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:35 - 16:10</time></p>

    <p><span class="track track-pydata">#big data</span></p>
    <p class="talk">big data disruptiva com python</p>
    <p class="speaker">Robson Luis Monteiro</p>

    <p><span class="track track-web">#web</span></p>
    <p class="talk">Django Performance Tips</p>
    <p class="speaker">Gustavo Salles</p>

    <p><span class="track track-career">#arquitetura</span></p>
    <p class="talk">Coerência de cache de granuraridade fina, usando django-signals</p>
    <p class="speaker">Helber Maciel Guerra</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:10</time></p>
    <p class="talk">Coffee Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:30</time></p>
    <p><span class="track track-lightning-talk">#lightning-talks</span></p>
    <p class="talk">Lightning Talks</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>17:10</time></p>
    <p class="talk">Encerramento</p>
    <p class="speaker"></p>
  </div>
</div>
