<div class="room" id="day6">
  <h1>Sprints</h1>
  <p class="day-description">
    Desenvolvimento e contribuição para projetos de
    <a href="https://pt.wikipedia.org/wiki/Software_livre">software livre</a>.
    <a href="https://www.youtube.com/watch?v=8QNjwSNd4s0">Saiba mais sobre as
      sprints</a>!
  </p>
  <p class="local">LOCAL: <a target="_blank" href="https://www.google.com.br/maps/place/Funda%C3%A7%C3%A3o+CERTI+%2F+Tecn%C3%B3polis/@-27.5707646,-48.5111986,17.29z/data=!4m5!3m4!1s0x0:0xa173b8c48320510f!8m2!3d-27.571168!4d-48.5090549?hl=en">Celta - Parque Tecnológico Alfa</a></p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>

    <p><span class="track track-tutorials">#celta</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-sprints/#multirao-pythonorgbr" target="_blank"><p class="talk">Multirão python.org.br</p></a>
    <p class="speaker">Humberto Rocha</p>

    <p><span class="track track-tutorials">#celta</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-sprints/#rows-tornando-a-biblioteca-mais-pythonica" target="_blank"><p class="talk">rows: tornando a biblioteca mais pythônica</p></a>
    <p class="speaker">Álvaro Justen</p>

    <p><span class="track track-tutorials">#celta</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-sprints/#spearkers-fight-improvement" target="_blank"><p class="talk">Spearkers Fight Improvement</p></a>
    <p class="speaker">Andre Pastore</p>

    <p><span class="track track-tutorials">#celta</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-sprints/#odoo-brasil-sprint" target="_blank"><p class="talk">Odoo Brasil Sprint</p></a>
    <p class="speaker">Luis Felipe Miléo</p>

    <p><span class="track track-tutorials">#celta</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-sprints/#multirao-pro-site-brasilpyladiescom" target="_blank"><p class="talk">Multirão pro site brasil.pyladies.com</p></a>
    <p class="speaker">Débora Azevedo</p>

    <p><span class="track track-tutorials">#celta</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-sprints/#fishbows-mesas-de-discussao" target="_blank"><p class="talk">fishbows e mesas de discussão</p></a>
    <p class="speaker">Andre Pastore</p>

    <p><span class="track track-tutorials">#celta</span></p>
    <a href="http://speakerfight.com/events/python-brasil12-sprints/#criacao-de-wrappers-utilizando-tapioca" target="_blank"><p class="talk">Criação de wrappers utilizando Tapioca</p></a>
    <p class="speaker">Filipe A Ximenes</p>
   </div>

</div>
