.about {
  padding: 4em 0;
  @include clearfix;

  .column {
    width: 50%;
    padding: 0 5%;
    text-align: center;
    float: left;
  }

  svg {
    border: solid 1px #cecece;
    border-radius: 50%;
    padding: 1em;
    width: 7em;
    height: 7em;
    margin-bottom: 2em;
  }

  h1, p {
    color: #333;
    margin-bottom: .5em;
  }

  a {
    color: $blue;
  }

  @media(max-width: 479px) {
    .column {
      width: 100%;
    }

    .column:first-child {
      margin-bottom: 5em;
    }
  }
}
