.footer {
  padding: 2em 0;
  background-color: #eaeaea;

  .row {
    position: relative;
  }

  p {
    color: #333;
    width: calc(90% - 4em);
  }

  img {
    position: absolute;
    float: right;
    top: 50%;
    right: 0;
    width: 4em;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}
