.location {
  text-align: center;
  padding: 8em 0 10em 0;
  @include background("../images/place.jpg");
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
  }

  * {
    position: relative;
  }

  svg {
    width: 3em;
  }

  h1 {
    margin: 15px 0;
  }

  .link {
    color: #fff;
    font-family: "Panton Light";
  }

  .booking {
    padding: 1em 8em;
    font-size: .8em;
  }

  .rates {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .tax {
    float: left;
    width: 50%;

    h2 {
      font-size: 1em;
    }
  }

  @media(max-width: 479px) {
    padding-bottom: 18em;

    .booking {
      padding: 1em 1.5em;
    }

    .tax {
      width: 100%;
      margin-bottom: 2em;
    }
  }
}
