.speakers {
  padding: 3em 0;
  background-color: #f2f2f2;

  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  .speakers-list {
    list-style: none;
    @include clearfix;
    font-size: 0;
    margin: 0 -15px;

    .speaker {
      font-size: 1rem;
      vertical-align: top;
      display: inline-block;
      margin: 15px;
      width: calc(25% - 30px);

      .photo {
        width: 100%;
        background-color: #eaeaea;
        @include icon("../images/speaker.svg", 50% 50%);

        img {
          width: 100%;
        }
      }

      .speaker-link {
        text-decoration: none;
      }

      .speaker-name {
        color: #333;
        font-family: "Panton Light Italic";
        margin: 30px 0 15px 0;
      }

      .speaker-description {
        color: #333;
      }

      .link {
        font-style: italic;
      }
    }
  }

  @media(max-width: 767px) {
    .speakers-list .speaker {
      width: calc(50% - 30px);
    }
  }

  @media(max-width: 319px) {
    .speakers-list .speaker {
      width: 100%;
    }
  }
}
