.schedule {
  padding: 4em 0;

  h1 {
    color: #333;
    text-align: center;
  }

  .schedule-description {
    color: #333;
    text-align: center;
    margin-bottom: 50px;
  }

  .day-description {
    color: #333;
    margin-bottom: 30px;
  }

  .days {
    .list {
      font-size: 0;
      list-style: none;
      border-bottom: solid 1px #ccc;

      .item {
        font-size: 1rem;
        display: inline-block;

        .item-link {
          display: inline-block;
          text-decoration: none;
          font-family: "Panton Bold";
          padding: 1em;
          color: #333;

          &:hover, &.active {
           color: #fff;
            background-color: $blue;
          }
        }
      }
    }
  }

  .room {
    position: relative;
    margin-top: 50px;
    display: none;

    &.active {
      display: block;
    }

    h1 {
      text-align: left;
    }

    .local {
      color: #333;
      padding-left: 1.5em;
      font-weight: bold;
    }

    .day-description {
      margin: 0 0 50px 0;

      a {
        color: #1D8BF6;
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 5em;
      height: calc(100% - 2em);
      width: 2px;
      background-color: #ccc;
    }

    .lecture {
      position: relative;
      display: block;
      padding: 0 25px;
      margin: 25px 0;

      &:before {
        content: "";
        position: absolute;
        left: -9px;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: solid 2px #ccc;
        background-color: white;
      }

      time {
        color: #333;
        font-family: "Panton Bold";
      }

      .hour {
        margin-bottom: 1em;
      }

      .track {
        display: inline;
        padding: .2em .6em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
      }

      .track-keynote {
        background-color: #777;
      }

      .track-lightning-talk {
        background-color: #d9534f;
      }

      .track-career {
        background-color: #337ab7;
      }

      .track-web {
        background-color: #f0ad4e;
      }

      .track-pydata {
        background-color: #5bc0de;
      }

      .track-beginners {
        background-color: #5cb85c;
      }

      .track-tutorials {
        background-color: #f1c40f;
      }

      .talk {
        color: $blue;
        font-family: "Panton Light";
        padding-bottom: 0px;
      }

      .speaker {
        font-family: "Helvetica", sans-serif;
        color: #333;
        margin-bottom: 1.5em;
      }

      .speaker:last-child {
        margin-bottom: 4em;
      }
    }
  }
}

