<section class="about" id="about">
  <div class="row">
    <div class="column">
      {% include "includes/icons/conference-icon.html" %}
      <h1>Conferência</h1>
      <p>A PythonBrasil reúne centenas de pessoas durante 6 dias para discutir sobre software livre, práticas de desenvolvimento e Python.</p>
      <p class="code-of-conduct"><a href="https://github.com/pythonbrasil/codigo-de-conduta" target="_blank">Leia nosso Código de Conduta</a></p>
    </div>

    <div class="column">
      {% include "includes/icons/staff-icon.html" %}
      <h1>Organização</h1>
      <p>A PythonBrasil 2016 é organizada pela Comunidade Python de Florianópolis/SC com ajuda da Apyb (Associação PythonBrasil).</p>
      <p class="code-of-conduct"><a href="http://wiki.python.org.br/" target="_blank">Acesse o portal da APyB</a></p>
    </div>

    <div class="column">
    <h1>Django Girls Florianópolis</h1>
      <p>Workshop gratuito de programação para mulheres.</p>
      <p class="code-of-conduct"><a href="https://djangogirls.org/florianopolis/" target="_blank">Acesse o portal</a></p>
    </div>

    <div class="column">
    <h1>Python Sudeste</h1>
      <p>Conferência de Python do Sudeste brasileiro.</p>
      <p class="code-of-conduct"><a href="http://pythonsudeste.org/" target="_blank">Acesse o portal</a></p>
    </div>

    <div class="column">
    <h1>Pycon</h1>
      <p>Maior conferência de Python do mundo.</p>
      <p class="code-of-conduct"><a href="https://us.pycon.org/2016/" target="_blank">Acesse o portal</a></p>
    </div>

    <div class="column">
    <h1>FISL</h1>
      <p>Fórum Internacional de Software Livre (Comunidade Python estará lá)</p>
      <p class="code-of-conduct"><a href="http://softwarelivre.org/fisl17" target="_blank">Acesse o portal</a></p>
    </div>
  </div>
</section>
