<section class="location" id="location">
  <div class="row">
    {% include "includes/icons/maps-icon.html" %}

    <h1>Florianópolis - Santa Catarina</h1>
    <p><a href="http://centrosul.net/" target="_blank" class="link">Acesse o site do Centro Sul</a></p>
    <p><a href="http://www.hotelvalerim.com.br/plaza/" target="_blank" class="link">Contato Hotel Valerim</a></p>
  </div>
  <div class="row rates">
    <div class="tax">
      <h2>HOSPEDAGENS HOTEL VALERIM PLAZA - Diária Apto Superior</h2>
      <p>
        Quarto individual (diária) – R$ 160,00<br>
        Quarto duplo (diária) – R$ 178,00<br>
        Triplo (duplo com cama extra + R$ 50,00)
      </p>
    </div>

    <div class="tax">
      <h2>HOSPEDAGENS HOTEL VALERIM PLAZA - Diária Apto luxo</h2>
      <p>
        Quarto individual (diária) – R$ 172,00<br>
        Quarto duplo (diária) – R$ 191,00<br>
        Triplo (duplo com cama extra + R$ 50,00)
      </p>
    </div>
  </div>
  </div>
</section>
