<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>
    <p class="schedule-description">13 e 14 - Tutoriais | 15, 16 e 17 - Palestras | 18 - Sprints</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day1" class="item-link">Dia 13</a>
        </li>

        <li class="item">
          <a href="#day2" class="item-link">Dia 14</a>
        </li>

        <li class="item">
          <a href="#day3" class="item-link">Dia 15</a>
        </li>

        <li class="item">
          <a href="#day4" class="item-link">Dia 16</a>
        </li>

        <li class="item">
          <a href="#day5" class="item-link active">Dia 17</a>
        </li>

        <li class="item">
          <a href="#day6" class="item-link">Dia 18</a>
        </li>
      </ul>
    </nav>

    {% include "includes/days/day1.html" %}

    {% include "includes/days/day2.html" %}

    {% include "includes/days/day3.html" %}

    {% include "includes/days/day4.html" %}

    {% include "includes/days/day5.html" %}

    {% include "includes/days/day6.html" %}
  </div>
</section>
