<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>

    <ul class="speakers-list">

      <li class="speaker">
      <a href="https://twitter.com/hannelita" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/Hanneli.jpg" alt="Temp">
          </div>

          <h2 class="speaker-name">Hanneli Tavante</h2>
          <p class="speaker-description"> A Hanneli (a.k.a @hannelita) trará a linguagem Rust para a Python Brasil 12. Ela é uma desenvolvedora que gosta de aprender novas linguagens, frameworks, explodir capacitores e comittar código útil (ou não) em projetos Open Source aleatórios que encontra em Githubs alheios. Também aprecia Lego, livros, Matemática, Física, eletrônica, GIFs de animais e café.</p>
        </a>
      </li>

      <li class="speaker">
      <a href="https://twitter.com/NaomiCeder" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/Naomi.jpg" alt="Temp">
          </div>

          <h2 class="speaker-name">Naomi Ceder</h2>
          <p class="speaker-description"> A Naomi Ceder aprende, ensina, usa e fala sobre Python desde 2001 e é autora do Livro Quick Python, 2ª edição. Ela já trabalhou como organizadora da comunidade Python por quase 15 anos, e atualmente faz parte do conselho de administração da Python Software Foundation, gestão 2016/2017. Ela irá falar sobre suas próprias experiências relativas a diversidade, com a esperança de fazer as comunidades que ela ama mais seguras, mais diversas e mais acolhedoras para todos. No seu tempo livre ela gosta de tricô e conversas filosóficas profundas com seu cão.</p>
        </a>
      </li>

      <li class="speaker">
      <a href="https://twitter.com/freakboy3742" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/Russell.jpg" alt="Temp">
          </div>

          <h2 class="speaker-name">Russell Keith-Magee</h2>
          <p class="speaker-description"> Dr. Russell Keith-Magee é um veterano de 10 anos do core team do Django, sendo que por 5 anos, foi presidente da Django Software Foundation. Ele também é o fundador do projeto BeeWare, com foco em criação de ferramentas GUI para apoiar o desenvolvimento de software Python. Trabalha como desenvolvedor de software freelance, e está profundamente envolvido em explorar formas de financiar o desenvolvimento e manutenção das ferramentas de código aberto, que usamos todos os dias.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https://twitter.com/seocam" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/sergio.jpeg" alt="Temp">
          </div>

          <h2 class="speaker-name">Sergio Oliveira Campos</h2>
          <p class="speaker-description">Guru da comunidade Python brasileira, é programador e empreendedor com 11 anos de experiência com programação Web e gestão de equipes em TI. Já trabalhou para a IBM, para o Programa Interlegis do Senado Federal e mais recentemente no projeto do Novo Portal do Software Público. É membro da comunidade Python Brasil e co-fundador da Associação Python Brasil. Atualmente é CTO da Crave Food Services.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="https://twitter.com/SagnewShreds" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/Sam.jpg" alt="Temp">
          </div>

          <h2 class="speaker-name">Sam Agnew</h2>
          <p class="speaker-description">Sam Agnew é um desenvolvedor evangelista na Twilio e adora inspirar desenvolvedores e equipes em todo o mundo. Ele particularmente gosta de participar das comunidades de Python em Nova York e Boston. A única coisa que ele acha mais gratificante do que escrever código Python, é fazer solos de guitarra rápidos e descobrir como os antigos video games funcionam. O Sam vai escrever algum código Python que permitirá que o público jogue junto com ele em tempo real, com engenharia reversa em um hardware Gameboy.</p>
        </a>
      </li>
    </ul>
  </div>
</section>
