<section class="sponsors" id="sponsors">
  <div class="row">
    <h1>Patrocinadores</h1>

    <h1>
      <a href="https://drive.google.com/file/d/0Bx25m3Gf7T2rZm9vaTBhR0trVjQ/view"
         target="_blank">
         <span style="text-align:center"
         >Seja um patrocinador</span></a>
    </h1>

    <ul class="sponsors-list">

      <!-- <li class="item">
        <a href="http://luizalabs.com/" target="_blank" class="item-link">
          <p class="category">Diamante</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/diamond/luiza-labs.png" alt="Luiza Labs">
          </div>
        </a>
      </li> -->

      <li class="item">
        <a href="http://www.globo.com/" target="_blank" class="item-link">
          <p class="category">Platina</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/platinum/globo.com.svg" alt="Globo.com">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://google.com/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img width="300px" height="300px" src="{{ SITEURL }}/images/sponsors/silver/google.svg" alt="Google">
          </div>
        </a>
      </li>

      <!-- 
      <li class="item">
        <a href="http://www.ibm.com/br-pt/" target="_blank" class="item-link">
          <p class="category">Ouro</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/gold/ibm.svg" alt="IBM">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://scrapinghub.com/" target="_blank" class="item-link">
          <p class="category">Ouro</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/gold/scrapinghub.svg" alt="scrapinghub.com">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.loggi.com/" target="_blank" class="item-link">
          <p class="category">Ouro</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/gold/loggi.svg" alt="Loggi - Peça um motoboy online">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.thoughtworks.com/pt/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/thoughtworks.svg" alt="Thoughtworks">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.toptal.com/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/toptal.svg" alt="TopTal">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://evolux.net.br/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/evolux.svg" alt="Evolux">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.axado.com.br/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/axado.svg" alt="Axado">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.imaxbrasil.com.br/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/imax.png" alt="iMax">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.znc.com.br" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/znc.svg" alt="ZNC">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://adm.python.pro.br/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/pythonpro.png" alt="Python Pro">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.continuum.io/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/continuum.svg" alt="Continuum Analytics">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.python.org/psf/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/python-foundation.svg" alt="Python Foundation">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.djangoproject.com/" target="_blank" class="item-link">
          <p class="category">Bronze</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/silver/django.svg" alt="Django Project">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.fatecsjc.edu.br/" target="_blank" class="item-link">
          <p class="category">Support</p>

          <div class="imgs">
            <img src="{{ SITEURL }}/images/sponsors/support/fatecsjc.png" alt="FATEC SJC">
          </div>
        </a>
      </li> -->
    </ul>
  </div>
</section>
