<section class="sponsors" id="sponsors">
  <div class="row">
    <h1>Patrocinadores</h1>

    <h1>
      <a href="https://drive.google.com/file/d/0B0fYYHtjOrCAQUIwV0JfWk15ZjQ/view"
         target="_blank">
         <span style="text-align:center"
         >Seja um patrocinador</span></a>
    </h1>

    <ul class="sponsors-list">


      <li class="item">
        <a href="http://www.globo.com/" target="_blank" class="item-link">
          <p class="category">Platina</p>

          <div class="imgs">
            <img src="/images/sponsors/platinum/globo.com.svg" alt="Globo.com">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.python.org/psf/" target="_blank" class="item-link">
          <p class="category">Ouro</p>

          <div class="imgs">
            <img src="/images/sponsors/gold/python-foundation.svg" alt="Python Foundation">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://luizalabs.com/" target="_blank" class="item-link">
          <p class="category">Ouro</p>

          <div class="imgs">
            <img src="/images/sponsors/gold/luiza-labs.png" alt="Luiza Labs">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.stone.com.br/" target="_blank" class="item-link">
          <p class="category">Ouro</p>

          <div class="imgs">
            <img src="/images/sponsors/gold/stone.png" alt="Stone">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://google.com/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="/images/sponsors/silver/google.png" alt="Google">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://evolux.net.br/" target="_blank" class="item-link">
          <p class="category">Bronze</p>

          <div class="imgs">
            <img src="/images/sponsors/bronze/evolux.png" alt="Evolux">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.neoway.com.br/" target="_blank" class="item-link">
          <p class="category">Bronze</p>

          <div class="imgs">
            <img src="/images/sponsors/bronze/neoway.png" alt="Neoway">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.cesusc.edu.br/portal/" target="_blank" class="item-link">
          <p class="category">Parceiro</p>

          <div class="imgs">
            <img src="/images/sponsors/partners/cesusc.png" alt="Cesusc">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.celta.org.br/" target="_blank" class="item-link">
          <p class="category">Parceiro</p>

          <div class="imgs">
            <img src="/images/sponsors/partners/celta.png" alt="Celta">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://novatec.com.br/" target="_blank" class="item-link">
          <p class="category">Parceiro</p>

          <div class="imgs">
            <img src="/images/sponsors/partners/novatec.png" alt="Novatec">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://wiki.python.org.br/" target="_blank" class="item-link">
          <p class="category">Apoio</p>

          <div class="imgs">
            <img src="/images/sponsors/support/apyb.png" alt="APyB">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.myreks.com/" target="_blank" class="item-link">
          <p class="category">Apoio</p>

          <div class="imgs">
            <img src="/images/sponsors/support/myreks.png" alt="Myreks">
          </div>
        </a>
      </li>


      <li class="item">
        <a href="https://djangogirls.org/" target="_blank" class="item-link">
          <p class="category">Apoio</p>

          <div class="imgs">
            <img src="/images/sponsors/support/djangogirls.png" alt="Django Girls">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.facebook.com/PyLadies-Floripa-763762813730310/" target="_blank" class="item-link">
          <p class="category">Apoio</p>

          <div class="imgs">
            <img src="/images/sponsors/support/pyladies.png" alt="PyLadies">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://anitas.com.br/" target="_blank" class="item-link">
          <p class="category">Apoio</p>

          <div class="imgs">
            <img src="/images/sponsors/support/anitas.png" alt="Anitas">
          </div>
        </a>
      </li>

      <!--
      <li class="item">
        <a href="http://www.ibm.com/br-pt/" target="_blank" class="item-link">
          <p class="category">Ouro</p>

          <div class="imgs">
            <img src="/images/sponsors/gold/ibm.svg" alt="IBM">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://scrapinghub.com/" target="_blank" class="item-link">
          <p class="category">Ouro</p>

          <div class="imgs">
            <img src="/images/sponsors/gold/scrapinghub.svg" alt="scrapinghub.com">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.loggi.com/" target="_blank" class="item-link">
          <p class="category">Ouro</p>

          <div class="imgs">
            <img src="/images/sponsors/gold/loggi.svg" alt="Loggi - Peça um motoboy online">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.thoughtworks.com/pt/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="/images/sponsors/silver/thoughtworks.svg" alt="Thoughtworks">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.toptal.com/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="/images/sponsors/silver/toptal.svg" alt="TopTal">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.axado.com.br/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="/images/sponsors/silver/axado.svg" alt="Axado">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.imaxbrasil.com.br/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="/images/sponsors/silver/imax.png" alt="iMax">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.znc.com.br" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="/images/sponsors/silver/znc.svg" alt="ZNC">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://adm.python.pro.br/" target="_blank" class="item-link">
          <p class="category">Prata</p>

          <div class="imgs">
            <img src="/images/sponsors/silver/pythonpro.png" alt="Python Pro">
          </div>
        </a>
      </li> -->

    </ul>
  </div>
</section>
