<section class="volunteers">
  <div class="row">
    <h1>Voluntários</h1>
    <ul>
      <li><a href="https://twitter.com/queirozMario21" target="_blank">Mário Sérgio (Floripa)</a></li>
      <li><a href="https://twitter.com/pixeledbird" target="_blank">Biguá (Brasília)</a></li>
      <li><a href="https://twitter.com/leleportella" target="_blank">Leticia Portella (Floripa)</a></li>
      <li><a href="https://twitter.com/henriquebastos" target="_blank">Henrique Bastos (Niterói)</a></li>
      <li><a href="https://twitter.com/cadu_leite" target="_blank">Cadu Leite (SJC)</a></li>
      <li><a href="https://twitter.com/erichideki" target="_blank">Eric Hideki (Sampa)</a></li>
      <li><a href="https://twitter.com/giolpiazza" target="_blank">Giovanni Piazza (Floripa)</a></li>
      <li><a href="https://twitter.com/EdmarPAraujo" target="_blank">Edmar Araujo (Floripa)</a></li>
      <li><a href="https://github.com/hackaugusto" target="_blank">Augusto Hack (Floripa)</a></li>
      <li><a href="https://twitter.com/guilhermemaba" target="_blank">Guilherme Maba (Floripa)</a></li>
      <li><a href="https://twitter.com/gt_salles" target="_blank">Gustavo Carvalho (Teresina)</a></li>
      <li><a href="https://twitter.com/_dsevero" target="_blank">Daniel Severo (Floripa)</a></li>
      <li><a href="https://twitter.com/humrochagf" target="_blank">Humberto Rocha (Brasília)</a></li>
      <li><a href="https://twitter.com/santos_igr" target="_blank">Igor Santos (Belo Horizonte)</a></li>
      <li><a href="https://twitter.com/JairoJair" target="_blank">Jairo Jair (Floripa)</a></li>
      <li><a href="https://twitter.com/eliasdorneles" target="_blank">Elias Dorneles (Rio de Janeiro)</a></li>
      <li><a href="https://twitter.com/mind_bend" target="_blank">Magnun Leno (Brasília)</a></li>
      <li><a href="https://twitter.com/marcorougeth" target="_blank">Marco Rougeth (Ribeirão Preto)</a></li>
      <li><a href="https://twitter.com/fmasanori" target="_blank">Massanori (SJC)</a></li>
      <li><a href="https://twitter.com/luzfcb" target="_blank">Fábio Barrionuevo (Palmas)</a></li>
      <li><a href="https://twitter.com/ssjunior" target="_blank">Stamatios Stamou Jr (Floripa)</a></li>
      <li><a href="https://twitter.com/stummjr" target="_blank">Valdir Stumm Junior (Floripa)</a></li>
      <li><a href="https://twitter.com/csvanessa" target="_blank">Vanessa Cardoso (Floripa)</a></li>
      <li><a href="https://twitter.com/apast" target="_blank">Andre Pastore (Floripa)</a></li>
      <li><a href="https://twitter.com/ramiroluz" target="_blank">Ramiro Luz (Curitiba)</a></li>
      <li><a href="https://twitter.com/voorloopnul" target="_blank">Ricardo Pascal (Floripa)</a></li>
      <li><a href="https://twitter.com/leogreal" target="_blank">Leonardo Gregorio (Floripa)</a></li>
      <li><a href="https://twitter.com/taniaandrea_com" target="_blank">Tânia Andrea (Brasília)</a></li>
      <li><a href="http://designa.com.br/" target="_blank">Layout da página - Designa</a></li>
      <li><a href="https://twitter.com/michelamaral" target="_blank">Michel Amaral (Designa / Pinda)</a></li>
      <li><a href="https://twitter.com/jmscarpa" target="_blank">João Mateus Scarpa (Designa / Taubaté)</a></li>
      <!-- <li>Carlos Eduardo Leite [cadu]  (SJC)</li> -->
      <!-- <li>Renato Oliveira (Recife)</li> -->
      <!-- <li>Felipe Ximenes [Xima]  (Recife)</li> -->
      <!-- <li><a href="https://twitter.com/avelino0" target="_blank">Thiago Avelino [XXXLinus] (Sampa)</a></li> -->
      <!-- <li><a href="https://twitter.com/deniscostadsc" target="_blank">Denis Costa (SJC)</a></li> -->
      <!-- <li><a href="https://twitter.com/bsao" target="_blank">Robson Junior (Viva Real / Sampa)</a></li> -->
      <!-- <li><a href="https://twitter.com/gutomaia" target="_blank">Guto Maia (Salvador)</a></li> -->
      <!-- <li><a href="https://twitter.com/ramalhoorg" target="_blank">Luciano Ramalho (Sampa)</a></li> -->
      <!-- <li>Erico Andrei (Sampa)</li> -->
    </ul>
  </div>

</section>
