<section class="welcome">
  <div class="row">
    <header class="header">

      <div class="menu-scroll">
        <div class="center">
          {% include "includes/menu.html" %}
        </div>
      </div>

      {% include "includes/menu.html" %}
    </header>

    <article class="info">
      <h1>12ª conferência brasileira da comunidade Python</h1>

      <h2>13 a 18 de Outubro</h2>
      <h3>13 e 14 - Tutoriais | 15 a 17 - Palestras | 18 - Sprints</h3>

      <p>Centro Sul - Florianópolis/SC</p>

      <!-- INSCRIÇÕES AQUI -->
      <!-- <a href="https://eventioz.com.br/pythonbrasil11" target="_blank" class="register">INSCREVA-SE AQUI</a> -->
    </article>
  </div>
</section>
