<section class="welcome">
  <div class="row">
    <header class="header">

      <div class="menu-scroll">
        <div class="center">
          {% include "includes/menu.html" %}
        </div>
      </div>

      {% include "includes/menu.html" %}
    </header>

    <article class="info">
      <h1>12ª conferência brasileira da comunidade Python</h1>

      <h2>Outubro</h2>
      <h3>A definir - Tutoriais | A definir - Palestras | A definir - Sprints</h3>
      <!--<p>Sapiens Parque - Florianópolis/SC</p>-->

      <!-- INSCRIÇÕES AQUI -->
      <!-- <a href="https://eventioz.com.br/pythonbrasil11" target="_blank" class="register">INSCREVA-SE AQUI</a> -->
    </article>
  </div>
</section>
