@font-face {
  font-family: "Panton Bold";
  src: url("../fonts/Panton-BlackCaps.otf");
}

@font-face {
  font-family: "Panton Bold Italic";
  src: url("../fonts/Panton-BlackitalicCaps.otf");
}

@font-face {
  font-family: "Panton Light";
  src: url("../fonts/Panton-LightCaps.otf");
}

@font-face {
  font-family: "Panton Light Italic";
  src: url("../fonts/Panton-LightitalicCaps.otf");
}
