@media(min-width: 768px) and (max-width: 1023px) {
  html, body {
    font-size: 15px;
  }
}

@media(min-width: 640px) and (max-width: 767px) {
  html, body {
    font-size: 14px;
  }
}

@media(min-width: 480px) and (max-width: 639px) {
  html, body {
    font-size: 13px;
  }
}

@media(min-width: 320px) and (max-width: 479px) {
  html, body {
    font-size: 12px;

    .welcome .info h1 {
      font-size: 2em;
    }

    .sponsors .sponsors-list .item .imgs img {
      height: 10em;
    }

    .footer img {
      padding-right: 1em;
    }
  }
}

@media(max-width: 319px) {
  html, body {
    font-size: 10px;
  }
}
